.ctn {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}

.englishQuizApp {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-font-family: serif; 
    -fx-stroke: gold;
    -fx-stroke-width: 3;
    -fx-fill:red;
}

.quanlycauhoi {
    -fx-font-family: serif; 
    -fx-font-size: 25;
    -fx-alignment: center; 
}